<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formularioLogin.css">
    <title>Recuperar Senha</title>
</head>
<body>
    <div id="pageDiv">
        <div id="formularioContainer" class="container">
            <form id="recuperarForm">
                <div id="descricaoPaginaDiv">
                    <p id="descricaoPagina">Digite o seu email para a recuperação da senha</p>
                </div>
                <br>

                <label id="emailLabel" for="emailInput">Email</label><br/>
                <input id="emailInput">

                <label id="matriculaLabel" for="matriculaInput">Matrícula</label><br/>
                <input id="matriculaInput">
                
                <button id="recuperarSenhaButton" type="submit">Recuperar Senha</button>
                <a href="index.html"><p id="voltarPaginaLogin">Voltar à página de login</p></a>

                <div id="mensagem"></div>
            </form>
        </div>
    </div>
    <script src="../public/js/forgotPassword.js"></script>
</body>
</html>
