<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Transações</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <header>
        <div class="logo">
          <a href="/"><img src="/img/quero-quero-logo.png" alt="Logo"></a>
          </div>
        <nav>
          <ul class="menu">
            <li><a href="/usuarios/gerenciamento"><button class="nav-button">Gerenciamento de Usuários</button></a></li>
            <li><a href="/perfis/gerenciamento"><button class="nav-button">Gerenciamento de Perfis</button></a></li>
            <li><a href="/modulos/gerenciamento"><button class="nav-button">Gerenciamento de Módulos</button></a></li>
            <li><a href="/transacoes/gerenciamento"><button class="nav-button">Gerenciamento de Transações</button></a></li>
            <li><a href="/funcoes/gerenciamento"><button class="nav-button">Gerenciamento de Funções</button></a></li>
            <li><a><button class="nav-button" id="logout-button">Logout</button></a></li>
          </ul>
        </nav>
        <div class="menu-toggle">
          <div class="hamburger"></div>
          <div class="hamburger"></div>
          <div class="hamburger"></div>
        </div>
    </header>

    <form class="form" id="cadastroTransacaoForm">
        <div class="container-form">
            <div class="content">

                <h1>Cadastro de Transações</h1>
                <br>

                <div class="input-group">
                    <label for="tagInput" class="label">TAG</label>
                    <input id="tagInput" class="input" type="text" placeholder="Tag da Transação" required>
                </div>

                <div class="input-group">
                    <label for="nomeInput" class="label">Nome da Transação</label>
                    <input id="nomeInput" class="input" type="text" placeholder="Nome Completo" required>
                </div>
            
                <div class="input-group">
                    <label for="descricaoInput" class="label">Descrição</label>
                    <input id="descricaoInput" class="input" type="text" placeholder="Descrição">
                </div>

                <div class="button-container">
                    <button type="submit" class="submit-button" id="cadastro-transacao-button">Enviar</button>
                </div>

                <div id="mensagem"></div>
            </div>
        </div>
    </form>

    <script src="/js/nav.js"></script>
    <script src="/js/transacoes/cadastro.js"></script>
</body>
</html>
