body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8b8b8b;
    border-radius: 10px;
    text-align: center;
}

.idInput{
    display: none;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 200px;
    height: 50px;
    background-color: #158F42;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.navigationButton {
    width: 225px;
    padding: 5px;
    height: 60px;
    background-color: #155fb4;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin: 0 5px;
}

@media (max-width: 400px) {
    .buttonContainer {
        flex-direction: column; /* Muda a direção para coluna */
        align-items: center; /* Centraliza os botões na coluna */
    }

    .navigationButton {
        margin-bottom: 10px; /* Adiciona espaço abaixo dos botões */
    }
}

#exclusao-button{
    margin-left: 5px;
    background-color: rgb(153, 4, 4);
}

.download-json-button{
    margin-left: 10px;
    margin-right: 5px;
    width: 250px;
    height: 60px;
    background-color: #b69b00;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    padding: 5px;
}

.download-xlsx-button{
    margin-left: 5px;
    width: 250px;
    height: 60px;
    background-color: #158F42;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    padding: 5px;
}

.submit-button:hover {
    background-color: #1FB255;
}

.checkboxes-funcao, .checkboxes-transacao, .checkboxes-modulo{
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px;
    }

    .form{
        margin: -15px;
    }

    .content h1{
        margin-top: -17px
    }
}

.select-div{
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;
    text-align: center;
}

.dadosSelect {
    position: relative;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;
    text-align: center;

    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8b8b8b;
    border-radius: 10px;
    text-align: center;
  }
  
  .dadosSelect select {
    background-color: #158F42;
    color: #fff;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .dadosSelect::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .dadosSelect:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dadosSelect select option {
    padding: 30px;
    font-size: 15px;
  }

  .dadosSelect select option :hover ::before {
    color: #000;
  }

  .title-div {
    text-align: center;
}

.list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-div a {
    display: block;
    width: 90%;
    max-width: 600px; 
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
}

.dados-list {
    position: relative;
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: -15px;
    list-style-type: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: left;
}


.delete-button {
    position: absolute;
    top: 30%;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.delete-button img {
    width: 25px;  /* Ajuste o tamanho da imagem conforme necessário */
    height: 25px;
}

.delete-button:hover img {
    opacity: 0.7;  /* Efeito hover opcional */
}


.pesquisa-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.pesquisa-form-div input {
    width: 90%; 
    max-width: 400px; 
    padding: 7px;
    font-size: 16px;
    border: 2px solid #8b8b8b;
    border-radius: 10px;
    text-align: left;
    margin-top: 10px;
}

.pesquisa-form-div input:focus{
    outline: 2px solid black;
}

.pesquisa-form-div button{
    width: 200px;
    height: 35px;
    background-color: #158F42;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 10px;
}

#descricaoPaginaDiv{
    background: rgba(33.50, 187, 90.12, 0.80); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    border: 5px rgba(82, 23, 0, 0.35) solid;
    text-align: center;
    justify-content: center;
    max-width: 715px;
    width: 90% auto;
}

.relatorios-container {
    display: flex; /* Utiliza flexbox para alinhar os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha quando não couberem mais */
}

.graficoPizza, .graficoBarras {
    width: 35%; /* Define a largura inicial das imagens */
    height: auto; /* Mantém a proporção da imagem */
    margin: 10px; /* Espaçamento entre as imagens */
}

.graficoPizza{
    margin-left: -10px;
}

@media (max-width: 1250px) {
    .graficoPizza, .graficoBarras {
        width: 50%; /* Define uma largura maior para as imagens */
    }
}

@media (max-width: 800px) {
    .graficoPizza, .graficoBarras {
        width: 65%; /* Define uma largura maior para as imagens */
    }
}

@media (max-width: 500px) {
    .graficoPizza, .graficoBarras {
        width: 90%; /* Define uma largura maior para as imagens */
    }
}