<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Módulos</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="../main.html"><img src="../img/quero-quero-logo.png" alt="Logo"></a>
          </div>
        <nav>
          <ul class="menu">
            <li><a href="../gerenciamento/gerenciamentoUsuarios.html"><button class="nav-button">Gerenciamento de Usuários</button></a></li>
            <li><a href="../gerenciamento/gerenciamentoModulos.html"><button class="nav-button">Gerenciamento de Módulos</button></a></li>
            <li><a href="../gerenciamento/gerenciamentoPerfis.html"><button class="nav-button">Gerenciamento de Perfis</button></a></li>
            <li><a href="../gerenciamento/gerenciamentoTransacoes.html"><button class="nav-button">Gerenciamento de Transações</button></a></li>
            <li><a href="../gerenciamento/gerenciamentoFuncoes.html"><button class="nav-button">Gerenciamento de Funções</button></a></li>
          </ul>
        </nav>
        <div class="menu-toggle">
          <div class="hamburger"></div>
          <div class="hamburger"></div>
          <div class="hamburger"></div>
        </div>
    </header>

    <form class="form" id="cadastroModuloForm">
        <div class="container-form">
            <div class="content">

                <h1>Cadastro de Módulos</h1>
                <br>

                <div class="input-group">
                    <label for="tagInput" class="label">TAG</label>
                    <input id="tagInput" class="input" type="text" placeholder="Tag do Módulo" required>
                </div>

                <div class="input-group">
                    <label for="nomeInput" class="label">Nome do Módulo</label>
                    <input id="nomeInput" class="input" type="text" placeholder="Nome do Módulo" required>
                </div>
                
                <div class="input-group">
                    <label for="descricaoInput" class="label">Descrição</label>
                    <input id="descricaoInput" class="input" type="text" placeholder="Descrição">
                </div>

                <h3>Associar Transação</h3><br>
                <div class="select-div">
                    <select class="dadosSelect" id="transacaoSelect">
                        <option value="">Selecione uma transação</option>
                    </select>
                </div>

                <div class="button-container">
                    <button type="submit" class="submit-button" id="cadastro-modulo-button">Enviar</button>
                </div>
            </div>
        </div>
    </form>

    <script src="/js/nav.js"></script>
    <script src="/js/modulos/cadastro.js"></script>
</body>
</html>
