<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Funções</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="../img/quero-quero-logo.png" alt="Logo"></a>
      </div>
    <nav>
      <ul class="menu">
        <li><a href="/usuarios/gerenciamento"><button class="nav-button">Gerenciamento de Usuários</button></a></li>
        <li><a href="/perfis/gerenciamento"><button class="nav-button">Gerenciamento de Perfis</button></a></li>
        <li><a href="/modulos/gerenciamento"><button class="nav-button">Gerenciamento de Módulos</button></a></li>
        <li><a href="/transacoes/gerenciamento"><button class="nav-button">Gerenciamento de Transações</button></a></li>
        <li><a href="/funcoes/gerenciamento"><button class="nav-button">Gerenciamento de Funções</button></a></li>
        <li><a><button class="nav-button" id="logout-button">Logout</button></a></li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <div class="hamburger"></div>
      <div class="hamburger"></div>
      <div class="hamburger"></div>
    </div>
</header>

    
    <div class="title-div">
        <h2>Gerenciamento de Funções</h2>
    </div>
    
    <div class="pesquisa-form-div">
        <form class="pesquisa-form" id="pesquisa-form">
            <label for="pesquisa-input">Digite o nome da função para a pesquisa:</label>
            <input id="pesquisa-input" class="pesquisa-input">

            <br>
            
            <button id="pesquisa-button">Pesquisar</button>
            <button id="cadastrar-funcao">Cadastrar Função</button>

            <br>
            <div id="descricaoPaginaDiv">
              <p id="descricaoPagina">Para editar ou excluir alguma função, clique na função desejada localizada na lista.</p>
            </div>
            <br>
        </form>
    </div>

    <div id="list-div" class="list-div">
        
    </div>
    
    <script src="/js/nav.js"></script>
    <script src="/js/funcoes/gerenciamento.js"></script>
</body>
</html>