<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gerenciamento de Perfis</title>
      <link rel="stylesheet" href="/css/nav.css">
      <link rel="stylesheet" href="/css/cadastro.css">
      <link rel="icon" href="/img/icone.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="../img/quero-quero-logo.png" alt="Logo"></a>
        </div>
      <nav>
        <ul class="menu">
          <li><a id="usuariosNav"><button class="nav-button" id="usuarios">Gerenciamento de Usuários</button></a></li>
          <li><a id="perfisNav"><button class="nav-button" id="perfis">Gerenciamento de Perfis</button></a></li>
          <li><a id="modulosNav"><button class="nav-button" id="modulos">Gerenciamento de Módulos</button></a></li>
          <li><a id="transacoesNav"><button class="nav-button" id="transacoes">Gerenciamento de Transações</button></a></li>
          <li><a id="funcoesNav"><button class="nav-button">Gerenciamento de Funções</button></a></li>
          <li><a id="dashboardNav"><button class="nav-button">Dashboard</button></a></li>
          <li><a id="logoutNav"><button class="nav-button">Logout</button></a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <div class="hamburger"></div>
        <div class="hamburger"></div>
        <div class="hamburger"></div>
      </div>
    </header>

      
      <div class="title-div">
          <h2>Gerenciamento de Perfis</h2>
      </div>
      
      <div class="pesquisa-form-div">
          <form class="pesquisa-form" id="pesquisa-form">
              <label for="pesquisa-input">Digite o nome do perfil ou um módulo afiliado para a pesquisa:</label>
              <input id="pesquisa-input" class="pesquisa-input">

              <br>

              <button id="pesquisa-button">Pesquisar</button>
              <button id="cadastrar-perfil">Cadastrar Perfil</button>

              <div id="descricaoPaginaDiv">
                <p id="descricaoPagina">Para editar ou excluir algum perfil, clique no perfil desejado localizada na lista.</p>
              </div>
            <br>
          </form>
      </div>

      <div id="list-div" class="list-div">
          
      </div>
      <br>
      
      <script src="/js/autenticacao.js"></script>
      <script src="/js/nav.js"></script>
      <script src="/js/perfis/gerenciamentoPerfis.js"></script>
  </body>
</html>